body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Back_Button_files/Back_Button_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:11px;
    top:12px;
    width:48px;
    height:25px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u1 {
    position:absolute;
    left:2px;
    top:5px;
    width:44px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u3 {
    position:absolute;
    left:1px;
    top:1px;
    width:321px;
    height:481px;
    overflow:hidden;
}

#pd0u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:481px;
    
}

.u4_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:1px;
    top:2px;
    width:320px;
    height:88px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:94px;
}

.u5 {
    position:absolute;
    left:2px;
    top:36px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:15px;
    top:10px;
    width:43px;
    height:43px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:43px;
}

.u7 {
    position:absolute;
    left:2px;
    top:14px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:71px;
    top:18px;
    width:233px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:181px;
    top:65px;
    width:16px;
    height:16px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u10 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:153px;
    top:65px;
    width:16px;
    height:16px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u12 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u11_normal.png');
}

.u13_container {
    position:absolute;
    left:127px;
    top:65px;
    width:16px;
    height:16px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u14 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:180px;
    top:433px;
    width:129px;
    height:36px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:42px;
}

.u16 {
    position:absolute;
    left:2px;
    top:8px;
    width:125px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:11px;
    top:433px;
    width:82px;
    height:36px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:42px;
}

.u18 {
    position:absolute;
    left:2px;
    top:8px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u19 {
    position:absolute;
    left:0px;
    top:128px;
    width:321px;
    height:296px;
    overflow:hidden;
}

#pd0u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:296px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u20_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:510px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:516px;
}

.u21 {
    position:absolute;
    left:2px;
    top:247px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:10px;
    top:10px;
    width:300px;
    height:140px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:146px;
}

.u23 {
    position:absolute;
    left:2px;
    top:62px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:18px;
    top:14px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:18px;
    top:45px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Segoe UI';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:148px;
    top:45px;
    width:63px;
    height:22px;
    ;
    ;
    ;
    font-family:'Segoe UI';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:233px;
    top:45px;
    width:67px;
    height:22px;
    ;
    ;
    ;
    font-family:'Segoe UI';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:217px;
    top:48px;
    width:20px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:4px;
    top:90px;
    width:46px;
    height:46px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u44 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:50px;
    top:115px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:285px;
    top:14px;
    width:20px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u22_normal.png');
}

.u48_container {
    position:absolute;
    left:10px;
    top:165px;
    width:300px;
    height:140px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:146px;
}

.u49 {
    position:absolute;
    left:2px;
    top:62px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:18px;
    top:169px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:18px;
    top:200px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Segoe UI';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:148px;
    top:200px;
    width:63px;
    height:22px;
    ;
    ;
    ;
    font-family:'Segoe UI';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:233px;
    top:200px;
    width:67px;
    height:22px;
    ;
    ;
    ;
    font-family:'Segoe UI';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:217px;
    top:203px;
    width:20px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u43_normal.png');
}

.u69_container {
    position:absolute;
    left:4px;
    top:245px;
    width:46px;
    height:46px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u70 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:50px;
    top:270px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u46_normal.png');
}

.u72_container {
    position:absolute;
    left:285px;
    top:169px;
    width:20px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u22_normal.png');
}

.u74_container {
    position:absolute;
    left:11px;
    top:322px;
    width:300px;
    height:140px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:146px;
}

.u75 {
    position:absolute;
    left:2px;
    top:62px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:19px;
    top:326px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:19px;
    top:357px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Segoe UI';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:149px;
    top:357px;
    width:63px;
    height:22px;
    ;
    ;
    ;
    font-family:'Segoe UI';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u93 {
    position:absolute;
    left:234px;
    top:357px;
    width:67px;
    height:22px;
    ;
    ;
    ;
    font-family:'Segoe UI';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u94 {
    position:absolute;
    left:218px;
    top:360px;
    width:20px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u43_normal.png');
}

.u95_container {
    position:absolute;
    left:5px;
    top:402px;
    width:46px;
    height:46px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u96 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:51px;
    top:427px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u46_normal.png');
}

.u98_container {
    position:absolute;
    left:286px;
    top:326px;
    width:20px;
    height:20px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u99 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:102px;
    top:475px;
    width:140px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:78px;
    top:476px;
    width:20px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Onboarding___Daily_Schedule_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:1px;
    top:91px;
    width:320px;
    height:37px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:43px;
}

.u104 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u105 {
    position:absolute;
    left:12px;
    top:96px;
    width:299px;
    height:27px;
    overflow:hidden;
}

#pd0u105 {
    position:absolute;
    left:0px;
    top:0px;
    width:299px;
    height:27px;
    
}

.u106 {
    position:absolute;
    left:0px;
    top:0px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

