body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Back_Button_files/Back_Button_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:11px;
    top:12px;
    width:48px;
    height:25px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u1 {
    position:absolute;
    left:2px;
    top:5px;
    width:44px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Nav_Structure_files/u0_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:482px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:328px;
    height:488px;
}

.u4 {
    position:absolute;
    left:2px;
    top:233px;
    width:318px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Nav_Structure_files/u2_normal.png');
}

.u5_container {
    position:absolute;
    left:1px;
    top:1px;
    width:320px;
    height:46px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:52px;
}

.u6 {
    position:absolute;
    left:2px;
    top:15px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Nav_Structure_files/u4_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:431px;
    width:79px;
    height:51px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:57px;
}

.u8 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Nav_Structure_files/u6_normal.png');
}

.u9_container {
    position:absolute;
    left:79px;
    top:431px;
    width:83px;
    height:51px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:57px;
}

.u10 {
    position:absolute;
    left:2px;
    top:18px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Nav_Structure_files/u8_normal.png');
}

.u11_container {
    position:absolute;
    left:162px;
    top:431px;
    width:77px;
    height:51px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:57px;
}

.u12 {
    position:absolute;
    left:2px;
    top:18px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Nav_Structure_files/u6_normal.png');
}

.u13_container {
    position:absolute;
    left:239px;
    top:431px;
    width:83px;
    height:51px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:57px;
}

.u14 {
    position:absolute;
    left:2px;
    top:18px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:260px;
    top:11px;
    width:53px;
    height:27px;
    overflow:hidden;
}

#pd0u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:27px;
    
}

.u17_normal {
    background-image: url('../Event_Summary_files/Done_Button_u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:5px;
    width:44px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:86px;
    top:14px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:86px;
    top:14px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u21 {
    position:absolute;
    left:-6px;
    top:45px;
    width:329px;
    height:386px;
    overflow:hidden;
}

#pd0u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:386px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u22_normal {
    background-image: url('../Event_Summary_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:1px;
    top:-14px;
    width:329px;
    height:141px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:141px;
}

.u23 {
    position:absolute;
    left:2px;
    top:62px;
    width:325px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Event_Summary_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:110px;
    width:329px;
    height:342px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:335px;
    height:348px;
}

.u25 {
    position:absolute;
    left:2px;
    top:163px;
    width:325px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:16px;
    top:125px;
    width:173px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:16px;
    top:153px;
    width:300px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:232px;
    top:129px;
    width:84px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_line {
    background-image: url('../Event_Summary_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u29 {
    position:absolute;
    left:56px;
    top:200px;
    width:200px;
    height:10px;
    
}

.u30_normal {
    background-image: url('../Event_Summary_files/Event_Summary___Notification_u30_normal.png');
}

.u30_container {
    position:absolute;
    left:24px;
    top:227px;
    width:280px;
    height:99px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:105px;
}

.u31 {
    position:absolute;
    left:2px;
    top:14px;
    width:276px;
    height:70px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Event_Summary_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:74px;
    top:349px;
    width:180px;
    height:80px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u33 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Back_Button_files/Back_Button_u0_normal.png');
}

.u34_container {
    position:absolute;
    left:10px;
    top:10px;
    width:48px;
    height:25px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u35 {
    position:absolute;
    left:2px;
    top:5px;
    width:44px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

