body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Back_Button_files/Back_Button_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:11px;
    top:12px;
    width:48px;
    height:25px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u1 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Nav_Structure_files/u0_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:482px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:328px;
    height:488px;
}

.u4 {
    position:absolute;
    left:2px;
    top:233px;
    width:318px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Nav_Structure_files/u2_normal.png');
}

.u5_container {
    position:absolute;
    left:1px;
    top:0px;
    width:320px;
    height:46px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:52px;
}

.u6 {
    position:absolute;
    left:2px;
    top:15px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Nav_Structure_files/u4_normal.png');
}

.u7_container {
    position:absolute;
    left:2px;
    top:429px;
    width:78px;
    height:51px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:57px;
}

.u8 {
    position:absolute;
    left:2px;
    top:18px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Nav_Structure_files/u4_normal.png');
}

.u9_container {
    position:absolute;
    left:82px;
    top:429px;
    width:78px;
    height:51px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:57px;
}

.u10 {
    position:absolute;
    left:2px;
    top:18px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Nav_Structure_files/u4_normal.png');
}

.u11_container {
    position:absolute;
    left:162px;
    top:429px;
    width:78px;
    height:51px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:57px;
}

.u12 {
    position:absolute;
    left:2px;
    top:18px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Nav_Structure_files/u4_normal.png');
}

.u13_container {
    position:absolute;
    left:242px;
    top:429px;
    width:78px;
    height:51px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:57px;
}

.u14 {
    position:absolute;
    left:2px;
    top:18px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Nav_Structure_files/u12_normal.png');
}

.u15_container {
    position:absolute;
    left:96px;
    top:429px;
    width:50px;
    height:50px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u16 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Nav_Structure_files/u14_normal.png');
}

.u17_container {
    position:absolute;
    left:261px;
    top:435px;
    width:40px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Nav_Structure_files/u16_normal.png');
}

.u19_container {
    position:absolute;
    left:21px;
    top:435px;
    width:40px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u20 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Nav_Structure_files/u18_normal.png');
}

.u21_container {
    position:absolute;
    left:184px;
    top:438px;
    width:34px;
    height:34px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:34px;
}

.u22 {
    position:absolute;
    left:2px;
    top:9px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:86px;
    top:14px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:86px;
    top:14px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u26 {
    position:absolute;
    left:-6px;
    top:45px;
    width:329px;
    height:386px;
    overflow:hidden;
}

#pd0u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:386px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u27_normal {
    background-image: url('../Event_Summary_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:1px;
    top:-14px;
    width:329px;
    height:141px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:141px;
}

.u28 {
    position:absolute;
    left:2px;
    top:62px;
    width:325px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Event_Summary_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:110px;
    width:329px;
    height:390px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:335px;
    height:396px;
}

.u30 {
    position:absolute;
    left:2px;
    top:187px;
    width:325px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:16px;
    top:125px;
    width:173px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:16px;
    top:153px;
    width:300px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:214px;
    top:127px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Event_Summary_files/Event_Summary___Notification_u34_normal.png');
}

.u34_container {
    position:absolute;
    left:24px;
    top:214px;
    width:280px;
    height:99px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:105px;
}

.u35 {
    position:absolute;
    left:2px;
    top:18px;
    width:276px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Event_Summary_files/Back_Button_u36_normal.png');
}

.u36_container {
    position:absolute;
    left:96px;
    top:456px;
    width:136px;
    height:34px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:40px;
}

.u37 {
    position:absolute;
    left:2px;
    top:9px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Event_Summary_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:87px;
    top:314px;
    width:154px;
    height:154px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:154px;
    height:154px;
}

.u39 {
    position:absolute;
    left:2px;
    top:69px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Event_Summary_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:210px;
    top:300px;
    width:94px;
    height:94px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:94px;
    height:94px;
}

.u41 {
    position:absolute;
    left:2px;
    top:39px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Back_Button_files/Back_Button_u0_normal.png');
}

.u42_container {
    position:absolute;
    left:10px;
    top:10px;
    width:48px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

