body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:1px;
    top:1px;
    width:321px;
    height:481px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:481px;
    
}

.u1_normal {
    background-image: url('../Onboaring___Pick_Activities_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u2 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Onboaring___Pick_Activities_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:181px;
    top:434px;
    width:129px;
    height:36px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:42px;
}

.u4 {
    position:absolute;
    left:2px;
    top:8px;
    width:125px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Onboaring___Pick_Activities_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:12px;
    top:434px;
    width:82px;
    height:36px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:42px;
}

.u6 {
    position:absolute;
    left:2px;
    top:8px;
    width:78px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u7 {
    position:absolute;
    left:0px;
    top:130px;
    width:321px;
    height:295px;
    overflow:hidden;
}

#pd0u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:295px;
    
}

.u8_normal {
    background-image: url('../Onboaring___Pick_Activities_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:490px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:496px;
}

.u9 {
    position:absolute;
    left:2px;
    top:237px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:16px;
    top:0px;
    width:298px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:16px;
    top:0px;
    width:298px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:16px;
    top:0px;
    width:298px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../Onboaring___Pick_Activities_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:280px;
    height:3px;
}

.u24 {
    position:absolute;
    left:21px;
    top:199px;
    width:280px;
    height:10px;
    
}

.u26 {
    position:absolute;
    left:16px;
    top:0px;
    width:288px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:16px;
    top:0px;
    width:298px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:16px;
    top:0px;
    width:288px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:16px;
    top:0px;
    width:298px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:16px;
    top:0px;
    width:279px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:16px;
    top:0px;
    width:298px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:16px;
    top:0px;
    width:298px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Onboaring___Pick_Activities_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:1px;
    top:2px;
    width:320px;
    height:88px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:94px;
}

.u40 {
    position:absolute;
    left:2px;
    top:36px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Onboaring___Pick_Activities_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:1px;
    top:91px;
    width:320px;
    height:37px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:43px;
}

.u42 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Onboaring___Pick_Activities_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:51px;
    top:11px;
    width:43px;
    height:43px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:43px;
}

.u44 {
    position:absolute;
    left:2px;
    top:14px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:107px;
    top:19px;
    width:164px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Onboaring___Pick_Activities_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:153px;
    top:65px;
    width:16px;
    height:16px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u47 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Onboaring___Pick_Activities_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:126px;
    top:65px;
    width:16px;
    height:16px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u49 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Onboaring___Pick_Activities_files/u48_normal.png');
}

.u50_container {
    position:absolute;
    left:181px;
    top:65px;
    width:16px;
    height:16px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u51 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u52 {
    position:absolute;
    left:12px;
    top:96px;
    width:299px;
    height:27px;
    overflow:hidden;
}

#pd0u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:299px;
    height:27px;
    
}

.u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

