body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Back_Button_files/Back_Button_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:11px;
    top:12px;
    width:48px;
    height:25px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u1 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:335px;
    height:499px;
    overflow:hidden;
}

#pd2u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:335px;
    height:499px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u4_normal {
    background-image: url('../Onboarding___Set_Goals_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u5 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:140px;
    width:320px;
    height:42px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u7 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Onboarding___Set_Goals_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:96px;
    width:320px;
    height:44px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u9 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:15px;
    top:106px;
    width:182px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Onboarding___Set_Goals_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:282px;
    top:106px;
    width:24px;
    height:24px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:15px;
    top:148px;
    width:140px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:282px;
    top:148px;
    width:25px;
    height:25px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:182px;
    width:320px;
    height:42px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u17 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:15px;
    top:190px;
    width:140px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u19_container {
    position:absolute;
    left:282px;
    top:190px;
    width:25px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:224px;
    width:320px;
    height:42px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u22 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:15px;
    top:232px;
    width:154px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u24_container {
    position:absolute;
    left:282px;
    top:232px;
    width:25px;
    height:25px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u25 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:266px;
    width:320px;
    height:42px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u27 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:15px;
    top:274px;
    width:140px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u29_container {
    position:absolute;
    left:282px;
    top:274px;
    width:25px;
    height:25px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u30 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Onboarding___Set_Goals_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:1px;
    top:2px;
    width:320px;
    height:88px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:94px;
}

.u32 {
    position:absolute;
    left:2px;
    top:36px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Onboarding___Set_Goals_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:1px;
    top:91px;
    width:320px;
    height:4px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:10px;
}

.u34 {
    position:absolute;
    left:2px;
    top:-6px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Onboarding___Set_Goals_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:51px;
    top:10px;
    width:43px;
    height:43px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:43px;
}

.u36 {
    position:absolute;
    left:2px;
    top:14px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:107px;
    top:18px;
    width:165px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Onboarding___Set_Goals_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:125px;
    top:65px;
    width:16px;
    height:16px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u39 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Onboarding___Set_Goals_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:153px;
    top:65px;
    width:16px;
    height:16px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u41 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Onboarding___Set_Goals_files/u40_normal.png');
}

.u42_container {
    position:absolute;
    left:181px;
    top:65px;
    width:16px;
    height:16px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u43 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:308px;
    width:320px;
    height:42px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u45 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:15px;
    top:316px;
    width:257px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u47_container {
    position:absolute;
    left:282px;
    top:316px;
    width:25px;
    height:25px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:350px;
    width:320px;
    height:42px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u50 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:15px;
    top:358px;
    width:235px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u52_container {
    position:absolute;
    left:282px;
    top:358px;
    width:25px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:392px;
    width:320px;
    height:42px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u55 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:15px;
    top:400px;
    width:175px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u57_container {
    position:absolute;
    left:282px;
    top:400px;
    width:25px;
    height:25px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u58 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:434px;
    width:320px;
    height:42px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u60 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:15px;
    top:442px;
    width:225px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u62_container {
    position:absolute;
    left:282px;
    top:442px;
    width:25px;
    height:25px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:476px;
    width:320px;
    height:42px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u65 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:15px;
    top:484px;
    width:195px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u67_container {
    position:absolute;
    left:282px;
    top:484px;
    width:25px;
    height:25px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u68 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:518px;
    width:320px;
    height:42px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u70 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:15px;
    top:526px;
    width:195px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u72_container {
    position:absolute;
    left:282px;
    top:526px;
    width:25px;
    height:25px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u73 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:560px;
    width:320px;
    height:42px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u75 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:15px;
    top:568px;
    width:175px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u77_container {
    position:absolute;
    left:282px;
    top:568px;
    width:25px;
    height:25px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u78 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u79_container {
    position:absolute;
    left:0px;
    top:602px;
    width:320px;
    height:42px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u80 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:15px;
    top:610px;
    width:235px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u82_container {
    position:absolute;
    left:282px;
    top:610px;
    width:25px;
    height:25px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u83 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u84_container {
    position:absolute;
    left:0px;
    top:644px;
    width:320px;
    height:42px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u85 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:15px;
    top:652px;
    width:195px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u87_container {
    position:absolute;
    left:282px;
    top:652px;
    width:25px;
    height:25px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u88 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:686px;
    width:320px;
    height:42px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u90 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:15px;
    top:694px;
    width:195px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u92_container {
    position:absolute;
    left:282px;
    top:694px;
    width:25px;
    height:25px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u93 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:335px;
    height:499px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u94_normal {
    background-image: url('../Onboarding___Set_Goals_files/u4_normal.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u95 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../Onboarding___Set_Goals_files/u8_normal.png');
}

.u96_container {
    position:absolute;
    left:0px;
    top:436px;
    width:320px;
    height:44px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u97 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:15px;
    top:446px;
    width:182px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Onboarding___Set_Goals_files/u11_normal.png');
}

.u99_container {
    position:absolute;
    left:282px;
    top:446px;
    width:24px;
    height:24px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u100 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Onboarding___Set_Goals_files/u31_normal.png');
}

.u101_container {
    position:absolute;
    left:1px;
    top:2px;
    width:320px;
    height:88px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:94px;
}

.u102 {
    position:absolute;
    left:2px;
    top:36px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Onboarding___Set_Goals_files/u33_normal.png');
}

.u103_container {
    position:absolute;
    left:1px;
    top:91px;
    width:320px;
    height:4px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:10px;
}

.u104 {
    position:absolute;
    left:2px;
    top:-6px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Onboarding___Set_Goals_files/u35_normal.png');
}

.u105_container {
    position:absolute;
    left:51px;
    top:10px;
    width:43px;
    height:43px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:43px;
}

.u106 {
    position:absolute;
    left:2px;
    top:14px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:107px;
    top:18px;
    width:183px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Onboarding___Set_Goals_files/u38_normal.png');
}

.u108_container {
    position:absolute;
    left:125px;
    top:65px;
    width:16px;
    height:16px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u109 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../Onboarding___Set_Goals_files/u40_normal.png');
}

.u110_container {
    position:absolute;
    left:153px;
    top:65px;
    width:16px;
    height:16px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u111 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../Onboarding___Set_Goals_files/u40_normal.png');
}

.u112_container {
    position:absolute;
    left:181px;
    top:65px;
    width:16px;
    height:16px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u113 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:8px;
    top:105px;
    width:261px;
    height:39px;
    ;
    ;
    text-align: left;;
    font-family:'Segoe UI';
    font-size: 18px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u115_normal {
    background-image: url('../Onboarding___Set_Goals_files/add_goal_button_2_u115_normal.png');
}

.u115_container {
    position:absolute;
    left:272px;
    top:102px;
    width:45px;
    height:45px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:45px;
}

.u116 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u117 {
    position:absolute;
    left:8px;
    top:154px;
    width:26px;
    height:26px;
    overflow:hidden;
}

#pd1u117 {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
    
}

#pd0u117 {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
    
}

.u118_normal {
    background-image: url('../Onboarding___Set_Goals_files/checkmark_u118_normal.png');
}

.u118_container {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u119 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u120 {
    position:absolute;
    left:38px;
    top:154px;
    width:280px;
    height:26px;
    overflow:hidden;
}

#pd1u120 {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:26px;
    
}

#pd0u120 {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:26px;
    
}

.u121 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u122 {
    position:absolute;
    left:181px;
    top:390px;
    width:130px;
    height:37px;
    overflow:hidden;
}

#pd0u122 {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:37px;
    
}

.u123_normal {
    background-image: url('../Onboarding___Set_Goals_files/Back_Button_u123_normal.png');
}

.u123_container {
    position:absolute;
    left:1px;
    top:1px;
    width:127px;
    height:34px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:40px;
}

.u124 {
    position:absolute;
    left:2px;
    top:6px;
    width:123px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u125_container {
    position:absolute;
    left:180px;
    top:390px;
    width:130px;
    height:36px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:42px;
}

.u126 {
    position:absolute;
    left:2px;
    top:10px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:335px;
    height:499px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u127_normal {
    background-image: url('../Onboarding___Set_Goals_files/u4_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u128 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u129_container {
    position:absolute;
    left:0px;
    top:332px;
    width:320px;
    height:42px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u130 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../Onboarding___Set_Goals_files/u8_normal.png');
}

.u131_container {
    position:absolute;
    left:0px;
    top:288px;
    width:320px;
    height:44px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u132 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:15px;
    top:298px;
    width:182px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../Onboarding___Set_Goals_files/u11_normal.png');
}

.u134_container {
    position:absolute;
    left:282px;
    top:298px;
    width:24px;
    height:24px;
}

#u134_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u135 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:15px;
    top:340px;
    width:140px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u137_container {
    position:absolute;
    left:282px;
    top:340px;
    width:25px;
    height:25px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u138 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u139_container {
    position:absolute;
    left:0px;
    top:374px;
    width:320px;
    height:42px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u140 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:15px;
    top:382px;
    width:140px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u142_container {
    position:absolute;
    left:282px;
    top:382px;
    width:25px;
    height:25px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u143 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u144_container {
    position:absolute;
    left:0px;
    top:416px;
    width:320px;
    height:42px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u145 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:15px;
    top:424px;
    width:154px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u147_container {
    position:absolute;
    left:282px;
    top:424px;
    width:25px;
    height:25px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u148 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../Onboarding___Set_Goals_files/u6_normal.png');
}

.u149_container {
    position:absolute;
    left:0px;
    top:458px;
    width:320px;
    height:42px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u150 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:15px;
    top:466px;
    width:140px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../Onboarding___Set_Goals_files/u14_normal.png');
}

.u152_container {
    position:absolute;
    left:282px;
    top:466px;
    width:25px;
    height:25px;
}

#u152_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u153 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../Onboarding___Set_Goals_files/u31_normal.png');
}

.u154_container {
    position:absolute;
    left:1px;
    top:2px;
    width:320px;
    height:88px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:94px;
}

.u155 {
    position:absolute;
    left:2px;
    top:36px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../Onboarding___Set_Goals_files/u33_normal.png');
}

.u156_container {
    position:absolute;
    left:1px;
    top:91px;
    width:320px;
    height:4px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:10px;
}

.u157 {
    position:absolute;
    left:2px;
    top:-6px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../Onboarding___Set_Goals_files/u35_normal.png');
}

.u158_container {
    position:absolute;
    left:51px;
    top:10px;
    width:43px;
    height:43px;
}

#u158_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:43px;
}

.u159 {
    position:absolute;
    left:2px;
    top:14px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:107px;
    top:18px;
    width:164px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../Onboarding___Set_Goals_files/u38_normal.png');
}

.u161_container {
    position:absolute;
    left:125px;
    top:61px;
    width:16px;
    height:16px;
}

#u161_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u162 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../Onboarding___Set_Goals_files/u40_normal.png');
}

.u163_container {
    position:absolute;
    left:153px;
    top:61px;
    width:16px;
    height:16px;
}

#u163_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u164 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../Onboarding___Set_Goals_files/u40_normal.png');
}

.u165_container {
    position:absolute;
    left:181px;
    top:61px;
    width:16px;
    height:16px;
}

#u165_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u166 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:8px;
    top:105px;
    width:261px;
    height:39px;
    ;
    ;
    text-align: left;;
    font-family:'Helvetica';
    font-size: 16px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u168_normal {
    background-image: url('../Onboarding___Set_Goals_files/add_goal_button_2_u115_normal.png');
}

.u168_container {
    position:absolute;
    left:272px;
    top:102px;
    width:45px;
    height:45px;
}

#u168_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:45px;
}

.u169 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

