body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Back_Button_files/Back_Button_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:11px;
    top:12px;
    width:48px;
    height:25px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u1 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Nav_Structure_files/u0_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:482px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:328px;
    height:488px;
}

.u4 {
    position:absolute;
    left:2px;
    top:233px;
    width:318px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Nav_Structure_files/u2_normal.png');
}

.u5_container {
    position:absolute;
    left:1px;
    top:0px;
    width:320px;
    height:46px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:52px;
}

.u6 {
    position:absolute;
    left:2px;
    top:15px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Nav_Structure_files/u4_normal.png');
}

.u7_container {
    position:absolute;
    left:2px;
    top:429px;
    width:78px;
    height:51px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:57px;
}

.u8 {
    position:absolute;
    left:2px;
    top:18px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Nav_Structure_files/u4_normal.png');
}

.u9_container {
    position:absolute;
    left:82px;
    top:429px;
    width:78px;
    height:51px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:57px;
}

.u10 {
    position:absolute;
    left:2px;
    top:18px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Nav_Structure_files/u4_normal.png');
}

.u11_container {
    position:absolute;
    left:162px;
    top:429px;
    width:78px;
    height:51px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:57px;
}

.u12 {
    position:absolute;
    left:2px;
    top:18px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Nav_Structure_files/u4_normal.png');
}

.u13_container {
    position:absolute;
    left:242px;
    top:429px;
    width:78px;
    height:51px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:57px;
}

.u14 {
    position:absolute;
    left:2px;
    top:18px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Nav_Structure_files/u12_normal.png');
}

.u15_container {
    position:absolute;
    left:96px;
    top:429px;
    width:50px;
    height:50px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u16 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Nav_Structure_files/u14_normal.png');
}

.u17_container {
    position:absolute;
    left:261px;
    top:435px;
    width:40px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Nav_Structure_files/u16_normal.png');
}

.u19_container {
    position:absolute;
    left:21px;
    top:435px;
    width:40px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u20 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Nav_Structure_files/u18_normal.png');
}

.u21_container {
    position:absolute;
    left:184px;
    top:438px;
    width:34px;
    height:34px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:34px;
}

.u22 {
    position:absolute;
    left:2px;
    top:9px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u24 {
    position:absolute;
    left:1px;
    top:47px;
    width:321px;
    height:327px;
    overflow:hidden;
}

#pd5u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:327px;
    
}

.u25_normal {
    background-image: url('../My_Patterns_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:286px;
    top:326px;
    width:20px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../My_Patterns_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:-21px;
    top:-133px;
    width:341px;
    height:481px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:341px;
    height:481px;
}

.u28 {
    position:absolute;
    left:2px;
    top:232px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u29 {
    position:absolute;
    left:78px;
    top:256px;
    width:33px;
    height:36px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u30_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:140px;
    top:193px;
    width:40px;
    height:33px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:39px;
}

.u31 {
    position:absolute;
    left:2px;
    top:8px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../My_Patterns_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:87px;
    top:266px;
    width:14px;
    height:14px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u34 {
    position:absolute;
    left:2px;
    top:-1px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../My_Patterns_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:1px;
    top:36px;
    width:36px;
    height:36px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u36 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../My_Patterns_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:1px;
    top:2px;
    width:36px;
    height:36px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u38 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd4u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:327px;
    
}

.u39_normal {
    background-image: url('../My_Patterns_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:42px;
    width:320px;
    height:42px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u40 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../My_Patterns_files/u39_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:168px;
    width:320px;
    height:42px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u42 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../My_Patterns_files/u39_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:210px;
    width:320px;
    height:42px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u44 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../My_Patterns_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:284px;
    top:52px;
    width:24px;
    height:24px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u46 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../My_Patterns_files/u45_normal.png');
}

.u47_container {
    position:absolute;
    left:284px;
    top:178px;
    width:24px;
    height:24px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../My_Patterns_files/u45_normal.png');
}

.u49_container {
    position:absolute;
    left:284px;
    top:219px;
    width:24px;
    height:24px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u50 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:8px;
    top:52px;
    width:212px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:8px;
    top:178px;
    width:212px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:8px;
    top:220px;
    width:212px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../My_Patterns_files/u39_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:252px;
    width:320px;
    height:42px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u55 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../My_Patterns_files/u45_normal.png');
}

.u56_container {
    position:absolute;
    left:284px;
    top:261px;
    width:24px;
    height:24px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:8px;
    top:262px;
    width:212px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../My_Patterns_files/u39_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:42px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u60 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../My_Patterns_files/u45_normal.png');
}

.u61_container {
    position:absolute;
    left:284px;
    top:9px;
    width:24px;
    height:24px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u62 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:8px;
    top:13px;
    width:212px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../My_Patterns_files/u39_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:126px;
    width:320px;
    height:42px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u65 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../My_Patterns_files/u45_normal.png');
}

.u66_container {
    position:absolute;
    left:284px;
    top:135px;
    width:24px;
    height:24px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u67 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:8px;
    top:139px;
    width:212px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../My_Patterns_files/u39_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:84px;
    width:320px;
    height:42px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u70 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../My_Patterns_files/u45_normal.png');
}

.u71_container {
    position:absolute;
    left:284px;
    top:93px;
    width:24px;
    height:24px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u72 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:8px;
    top:97px;
    width:212px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:327px;
    
}

.u74_normal {
    background-image: url('../My_Patterns_files/u39_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:42px;
    width:320px;
    height:42px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u75 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../My_Patterns_files/u45_normal.png');
}

.u76_container {
    position:absolute;
    left:284px;
    top:51px;
    width:24px;
    height:24px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u77 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../My_Patterns_files/u39_normal.png');
}

.u78_container {
    position:absolute;
    left:0px;
    top:84px;
    width:320px;
    height:42px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u79 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../My_Patterns_files/u39_normal.png');
}

.u80_container {
    position:absolute;
    left:0px;
    top:126px;
    width:320px;
    height:42px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u81 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../My_Patterns_files/u39_normal.png');
}

.u82_container {
    position:absolute;
    left:0px;
    top:168px;
    width:320px;
    height:42px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u83 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../My_Patterns_files/u45_normal.png');
}

.u84_container {
    position:absolute;
    left:284px;
    top:94px;
    width:24px;
    height:24px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u85 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../My_Patterns_files/u45_normal.png');
}

.u86_container {
    position:absolute;
    left:284px;
    top:136px;
    width:24px;
    height:24px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u87 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../My_Patterns_files/u45_normal.png');
}

.u88_container {
    position:absolute;
    left:284px;
    top:177px;
    width:24px;
    height:24px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u89 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:8px;
    top:55px;
    width:212px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:8px;
    top:94px;
    width:212px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:8px;
    top:136px;
    width:212px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:8px;
    top:178px;
    width:212px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../My_Patterns_files/u39_normal.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:42px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u95 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../My_Patterns_files/u45_normal.png');
}

.u96_container {
    position:absolute;
    left:284px;
    top:9px;
    width:24px;
    height:24px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u97 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:8px;
    top:13px;
    width:212px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:327px;
    
}

.u99_normal {
    background-image: url('../My_Patterns_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:-21px;
    top:-134px;
    width:341px;
    height:482px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:341px;
    height:482px;
}

.u100 {
    position:absolute;
    left:2px;
    top:233px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../My_Patterns_files/u35_normal.png');
}

.u101_container {
    position:absolute;
    left:1px;
    top:36px;
    width:36px;
    height:36px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u102 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../My_Patterns_files/u37_normal.png');
}

.u103_container {
    position:absolute;
    left:1px;
    top:2px;
    width:36px;
    height:36px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u104 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:327px;
    
}

.u105_normal {
    background-image: url('../My_Patterns_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:-88px;
    top:-609px;
    width:471px;
    height:939px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:471px;
    height:939px;
}

.u106 {
    position:absolute;
    left:2px;
    top:462px;
    width:467px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u107 {
    position:absolute;
    left:112px;
    top:160px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u108_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u108_container {
    position:absolute;
    left:230px;
    top:39px;
    width:40px;
    height:33px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:39px;
}

.u109 {
    position:absolute;
    left:2px;
    top:8px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../My_Patterns_files/u35_normal.png');
}

.u111_container {
    position:absolute;
    left:1px;
    top:36px;
    width:36px;
    height:36px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u112 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../My_Patterns_files/u37_normal.png');
}

.u113_container {
    position:absolute;
    left:1px;
    top:2px;
    width:36px;
    height:36px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u114 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:327px;
    
}

.u115_normal {
    background-image: url('../My_Patterns_files/u25_normal.png');
}

.u115_container {
    position:absolute;
    left:286px;
    top:326px;
    width:20px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../My_Patterns_files/u27_normal.png');
}

.u117_container {
    position:absolute;
    left:-21px;
    top:-133px;
    width:341px;
    height:481px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:341px;
    height:481px;
}

.u118 {
    position:absolute;
    left:2px;
    top:232px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u119 {
    position:absolute;
    left:78px;
    top:256px;
    width:33px;
    height:36px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u120_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u120_container {
    position:absolute;
    left:140px;
    top:193px;
    width:40px;
    height:33px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:39px;
}

.u121 {
    position:absolute;
    left:2px;
    top:8px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../My_Patterns_files/u35_normal.png');
}

.u123_container {
    position:absolute;
    left:1px;
    top:36px;
    width:36px;
    height:36px;
}

#u123_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u124 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../My_Patterns_files/u37_normal.png');
}

.u125_container {
    position:absolute;
    left:1px;
    top:2px;
    width:36px;
    height:36px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u126 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u127 {
    position:absolute;
    left:2px;
    top:348px;
    width:321px;
    height:84px;
    overflow:hidden;
}

#pd0u127 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:84px;
    
}

#u128 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:85px;
    overflow:hidden;
}

#pd1u128 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:85px;
    
}

.u129_normal {
    background-image: url('../My_Patterns_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:103px;
    top:0px;
    width:116px;
    height:76px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:82px;
}

.u130 {
    position:absolute;
    left:2px;
    top:30px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../My_Patterns_files/u131_normal.png');
}

.u131_container {
    position:absolute;
    left:0px;
    top:25px;
    width:321px;
    height:58px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:327px;
    height:64px;
}

.u132 {
    position:absolute;
    left:2px;
    top:21px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../My_Patterns_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:13px;
    top:48px;
    width:296px;
    height:9px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:15px;
}

.u134 {
    position:absolute;
    left:2px;
    top:-4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../My_Patterns_files/u135_normal.png');
}

.u135_container {
    position:absolute;
    left:13px;
    top:48px;
    width:151px;
    height:9px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:15px;
}

.u136 {
    position:absolute;
    left:2px;
    top:-4px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../My_Patterns_files/u137_normal.png');
}

.u137_container {
    position:absolute;
    left:151px;
    top:38px;
    width:20px;
    height:28px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:34px;
}

.u138 {
    position:absolute;
    left:2px;
    top:6px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:86px;
    top:6px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u128 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:85px;
    
}

.u140_normal {
    background-image: url('../My_Patterns_files/u129_normal.png');
}

.u140_container {
    position:absolute;
    left:103px;
    top:0px;
    width:116px;
    height:76px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:82px;
}

.u141 {
    position:absolute;
    left:2px;
    top:30px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../My_Patterns_files/u131_normal.png');
}

.u142_container {
    position:absolute;
    left:0px;
    top:25px;
    width:321px;
    height:58px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:327px;
    height:64px;
}

.u143 {
    position:absolute;
    left:2px;
    top:21px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../My_Patterns_files/u133_normal.png');
}

.u144_container {
    position:absolute;
    left:13px;
    top:48px;
    width:296px;
    height:9px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:15px;
}

.u145 {
    position:absolute;
    left:2px;
    top:-4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../My_Patterns_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:13px;
    top:48px;
    width:52px;
    height:9px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:15px;
}

.u147 {
    position:absolute;
    left:2px;
    top:-4px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../My_Patterns_files/u137_normal.png');
}

.u148_container {
    position:absolute;
    left:55px;
    top:38px;
    width:20px;
    height:28px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:34px;
}

.u149 {
    position:absolute;
    left:2px;
    top:6px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:86px;
    top:6px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:83px;
    top:10px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../Back_Button_files/Back_Button_u0_normal.png');
}

.u152_container {
    position:absolute;
    left:10px;
    top:10px;
    width:48px;
    height:25px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u153 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../My_Patterns_files/Back_Button_u155_normal.png');
}

.u155_container {
    position:absolute;
    left:251px;
    top:11px;
    width:66px;
    height:25px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:31px;
}

.u156 {
    position:absolute;
    left:2px;
    top:4px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

