body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Back_Button_files/Back_Button_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:11px;
    top:12px;
    width:48px;
    height:25px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u1 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Nav_Structure_files/u0_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:482px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:328px;
    height:488px;
}

.u4 {
    position:absolute;
    left:2px;
    top:233px;
    width:318px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Nav_Structure_files/u2_normal.png');
}

.u5_container {
    position:absolute;
    left:1px;
    top:0px;
    width:320px;
    height:46px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:52px;
}

.u6 {
    position:absolute;
    left:2px;
    top:15px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Nav_Structure_files/u4_normal.png');
}

.u7_container {
    position:absolute;
    left:2px;
    top:429px;
    width:78px;
    height:51px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:57px;
}

.u8 {
    position:absolute;
    left:2px;
    top:18px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Nav_Structure_files/u4_normal.png');
}

.u9_container {
    position:absolute;
    left:82px;
    top:429px;
    width:78px;
    height:51px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:57px;
}

.u10 {
    position:absolute;
    left:2px;
    top:18px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Nav_Structure_files/u4_normal.png');
}

.u11_container {
    position:absolute;
    left:162px;
    top:429px;
    width:78px;
    height:51px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:57px;
}

.u12 {
    position:absolute;
    left:2px;
    top:18px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Nav_Structure_files/u4_normal.png');
}

.u13_container {
    position:absolute;
    left:242px;
    top:429px;
    width:78px;
    height:51px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:57px;
}

.u14 {
    position:absolute;
    left:2px;
    top:18px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Nav_Structure_files/u12_normal.png');
}

.u15_container {
    position:absolute;
    left:96px;
    top:429px;
    width:50px;
    height:50px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u16 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Nav_Structure_files/u14_normal.png');
}

.u17_container {
    position:absolute;
    left:261px;
    top:435px;
    width:40px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Nav_Structure_files/u16_normal.png');
}

.u19_container {
    position:absolute;
    left:21px;
    top:435px;
    width:40px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u20 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Nav_Structure_files/u18_normal.png');
}

.u21_container {
    position:absolute;
    left:184px;
    top:438px;
    width:34px;
    height:34px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:34px;
}

.u22 {
    position:absolute;
    left:2px;
    top:9px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u24 {
    position:absolute;
    left:0px;
    top:47px;
    width:323px;
    height:385px;
    overflow:hidden;
}

#pd0u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:323px;
    height:385px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u25_normal {
    background-image: url('../Edit_Event_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:1px;
    top:-14px;
    width:321px;
    height:141px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:141px;
}

.u26 {
    position:absolute;
    left:2px;
    top:62px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Edit_Event_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:110px;
    width:321px;
    height:455px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:327px;
    height:461px;
}

.u28 {
    position:absolute;
    left:2px;
    top:220px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:16px;
    top:125px;
    width:169px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:16px;
    top:154px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_selected {
    background-image: url('../Edit_Event_files/u31_selected.png');
}

.u31_normal {
    background-image: url('../Edit_Event_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:16px;
    top:176px;
    width:290px;
    height:34px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:40px;
}

.u32 {
    position:absolute;
    left:2px;
    top:9px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Edit_Event_files/u31_normal.png');
}

.u33_container {
    position:absolute;
    left:16px;
    top:210px;
    width:290px;
    height:34px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:40px;
}

.u34 {
    position:absolute;
    left:2px;
    top:9px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Edit_Event_files/u31_normal.png');
}

.u35_container {
    position:absolute;
    left:16px;
    top:244px;
    width:290px;
    height:34px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:40px;
}

.u36 {
    position:absolute;
    left:2px;
    top:9px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Edit_Event_files/u31_normal.png');
}

.u37_container {
    position:absolute;
    left:16px;
    top:355px;
    width:290px;
    height:34px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:40px;
}

.u38 {
    position:absolute;
    left:2px;
    top:9px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Edit_Event_files/u31_normal.png');
}

.u39_container {
    position:absolute;
    left:16px;
    top:389px;
    width:290px;
    height:34px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:40px;
}

.u40 {
    position:absolute;
    left:2px;
    top:9px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Edit_Event_files/u31_normal.png');
}

.u41_container {
    position:absolute;
    left:16px;
    top:423px;
    width:290px;
    height:34px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:40px;
}

.u42 {
    position:absolute;
    left:2px;
    top:9px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:86px;
    top:467px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:17px;
    top:334px;
    width:228px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:86px;
    top:467px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:2px;
    top:0px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:2px;
    top:0px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:2px;
    top:0px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Edit_Event_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:16px;
    top:279px;
    width:290px;
    height:32px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:38px;
}

.u53 {
    position:absolute;
    left:2px;
    top:8px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Edit_Event_files/u52_normal.png');
}

.u54_container {
    position:absolute;
    left:16px;
    top:458px;
    width:290px;
    height:32px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:38px;
}

.u55 {
    position:absolute;
    left:2px;
    top:8px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:2px;
    top:0px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:2px;
    top:0px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:2px;
    top:0px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:226px;
    top:129px;
    width:82px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Edit_Event_files/Back_Button_u63_normal.png');
}

.u63_container {
    position:absolute;
    left:34px;
    top:506px;
    width:255px;
    height:39px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:45px;
}

.u64 {
    position:absolute;
    left:2px;
    top:8px;
    width:251px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Edit_Event_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:25px;
    top:181px;
    width:24px;
    height:24px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u66 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_container {
    position:absolute;
    left:25px;
    top:249px;
    width:24px;
    height:24px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u68 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Edit_Event_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:24px;
    top:215px;
    width:28px;
    height:25px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:25px;
}

.u70 {
    position:absolute;
    left:2px;
    top:4px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_container {
    position:absolute;
    left:23px;
    top:361px;
    width:24px;
    height:24px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u72 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_container {
    position:absolute;
    left:23px;
    top:395px;
    width:23px;
    height:23px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u74 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_container {
    position:absolute;
    left:23px;
    top:429px;
    width:23px;
    height:23px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u76 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:86px;
    top:11px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Back_Button_files/Back_Button_u0_normal.png');
}

.u78_container {
    position:absolute;
    left:10px;
    top:10px;
    width:48px;
    height:25px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u79 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

